<h1>Everything your heart needs is here ....</h1>
<div class="search-box">
  <label>
    Find items by name
    <input type="search" id="items" [(ngModel)]="searchTerm" />
    w the price starting from
    <input type="number" id="minPrice" [(ngModel)]="minPrice" />
    and to
    <input type="number" id="maxPrice" [(ngModel)]="maxPrice" />
    w rating from
    <input type="number" id="minRating" [(ngModel)]="minRating" />

    <button (click)="applySearch()">Search</button>
    or by filter
  </label>
  <select [(ngModel)]="selectedCategory">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>

  <section>
    <h3>Results:</h3>
    <ul id="results">
      <div *ngFor="let product of getFilteredProducts()">
        <a [routerLink]="['/product', product.id]">
          <h3>{{ product.name }}</h3>
          <p>{{ product.season }}</p>
          <p>{{ product.price }} RSD</p>
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
        </a>
      </div>
    </ul>
    <output id="no-results">
      <!-- no results content -->
    </output>
  </section>

  <p>Selected: {{ selectedCategory }}</p>
</div>
